In [1]:
import pandas as pd
import geopandas as gp

In [2]:
datos_censo = pd.read_csv('INEGI_data/iter_00_cpv2010/conjunto_de_datos/iter_00_cpv2010.csv')

In [3]:
datos_censo.head(10)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,...,vph_radio,vph_tv,vph_refri,vph_lavad,vph_autom,vph_pc,vph_telef,vph_cel,vph_inter,tam_loc
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,112336538,...,22373499,26048531,23091296,18692852,12429083,8279619,12161965,18318374,6004315,NaN
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,260087,...,43368,38574,29064,19361,27168,3435,3973,30417,1418,NaN
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,173056,...,26213,23519,17793,12413,15497,2193,2530,16841,940,NaN
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1184996,...,256790,282484,264623,238954,171795,99579,137911,208209,66075,NaN
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3395,...,658,676,537,449,477,97,48,511,36,NaN
5,1,Aguascalientes,0,Total de la entidad Aguascalientes,9999,Localidades de dos viviendas,NaN,NaN,NaN,2800,...,445,475,382,325,293,59,44,357,19,NaN
6,1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,NaN,NaN,NaN,797010,...,182408,197400,188214,170657,124404,81576,109090,157602,56788,NaN
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,...,167880,181062,173467,157607,114283,78107,104297,146684,55003,13.0
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,1022225.0,215219.0,1903.0,14,...,*,*,*,*,*,*,*,*,*,1.0
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,1022127.0,215303.0,1863.0,37,...,8,11,10,9,3,1,0,6,1,1.0

In [4]:
datos_municipales = datos_censo[datos_censo.nom_loc == "Total del Municipio"]
datos_municipales.head()

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,...,vph_radio,vph_tv,vph_refri,vph_lavad,vph_autom,vph_pc,vph_telef,vph_cel,vph_inter,tam_loc
6,1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,NaN,NaN,NaN,797010,...,182408,197400,188214,170657,124404,81576,109090,157602,56788,NaN
598,1,Aguascalientes,2,Asientos,0,Total del Municipio,NaN,NaN,NaN,45492,...,8154,9385,7923,7306,4780,1260,2121,4240,317,NaN
769,1,Aguascalientes,3,Calvillo,0,Total del Municipio,NaN,NaN,NaN,54136,...,10514,12363,11672,10268,6689,1939,5937,6092,878,NaN
927,1,Aguascalientes,4,Cosío,0,Total del Municipio,NaN,NaN,NaN,15042,...,2821,3295,2742,2328,1582,507,849,1586,118,NaN
984,1,Aguascalientes,5,Jesús María,0,Total del Municipio,NaN,NaN,NaN,99590,...,19963,22183,20615,18493,13944,6839,9378,16391,4258,NaN

In [5]:
datos_municipales["CVE_ENT"] = datos_municipales.entidad.astype(str).str.zfill(2)
datos_municipales["CVE_MUN"] = datos_municipales.mun.astype(str).str.zfill(3)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
datos_municipales.head(2)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,...,vph_refri,vph_lavad,vph_autom,vph_pc,vph_telef,vph_cel,vph_inter,tam_loc,CVE_ENT,CVE_MUN
6,1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,NaN,NaN,NaN,797010,...,188214,170657,124404,81576,109090,157602,56788,NaN,01,001
598,1,Aguascalientes,2,Asientos,0,Total del Municipio,NaN,NaN,NaN,45492,...,7923,7306,4780,1260,2121,4240,317,NaN,01,002

In [7]:
poligonos = gp.read_file("INEGI_data/889463142683_s/conjunto_de_datos/areas_geoestadisticas_municipales.shp")

In [8]:
poligonos.head()

,CVE_ENT,CVE_MUN,NOM_MUN,geometry
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948..."
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404..."
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634..."
3,01,008,San José de Gracia,"POLYGON ((2453254.179 1144800.521, 2453326.553..."
4,01,005,Jesús María,"POLYGON ((2466710.861 1102163.965, 2466673.583..."

In [9]:
# municipios_educacion = datos_municipales[["CVE_ENT", "CVE_MUN", "graproes"]].merge(poligonos, on = ["CVE_ENT", "CVE_MUN"], how = "right")
municipios_educacion = poligonos.merge(datos_municipales[["CVE_ENT", "CVE_MUN", "graproes"]], on = ["CVE_ENT", "CVE_MUN"], how = "left")

In [10]:
municipios_educacion.head(3)

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,graproes
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948...",7.25
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404...",7.86
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634...",8.51

In [11]:
municipios_educacion = municipios_educacion.to_crs("EPSG:4326")
municipios_educacion.head()

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,graproes
0,01,002,Asientos,"POLYGON ((-102.05189 22.29144, -102.05121 22.2...",7.25
1,01,011,San Francisco de los Romo,"POLYGON ((-102.27368 22.08798, -102.27366 22.0...",7.86
2,01,007,Rincón de Romos,"POLYGON ((-102.22684 22.37393, -102.22661 22.3...",8.51
3,01,008,San José de Gracia,"POLYGON ((-102.45611 22.32323, -102.45537 22.3...",7.97
4,01,005,Jesús María,"POLYGON ((-102.32387 21.93653, -102.32423 21.9...",8.60

In [13]:
municipios_educacion["geometry"] = municipios_educacion["geometry"].simplify(tolerance = 0.001, preserve_topology = True)

In [15]:
municipios_educacion.to_file("INEGI_data/municipios_educacion.geojson", driver='GeoJSON')